name: Android Release

on:
  push:
    branches: [ release/* ]
  workflow_dispatch:

jobs:
  build_and_publish:
    name: Build & Publish Release AAB
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Decode Keystore
        env:
          ENCODED_KEYSTORE: ${{ secrets.KEYSTORE_BASE64 }}
        run: |
          mkdir -p keystore
          echo $ENCODED_KEYSTORE | base64 -d > keystore/key.jks

      - name: Build Release Bundle
        env:
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
        run: ./gradlew :composeApp:bundleRelease

      - name: Upload to Google Play (Internal Testing)
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.PLAY_CONSOLE_JSON }}
          packageName: com.impend.shared # Double check this is the android applicationId
          releaseFiles: composeApp/build/outputs/bundle/release/composeApp-release.aab
          track: internal
          status: draft
